<header class="justify-content-center">
    <h1>{{title}}</h1>
    <nav class="justify-content-center nav nav-pills col-sm-12">
        <a href="/" class="nav-item nav-link" onclick="activeLink(this)">Weather</a>
        <a href="/about" class="nav-item nav-link" onclick="activeLink(this)">About</a>
        <a href="/help" class="nav-item nav-link" onclick="activeLink(this)">Help</a>
    </nav>
</header>