body{
    color: #000000;
    font-family: Arial;
    /*max-width: 50%;*/
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-image: url('../images/341.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-blend-mode: luminosity;
}

.main-content{
    flex-grow: 1;
    margin-top: 2%;
}

h1{
    font-size: 64px;
    margin-bottom: 18px;
}

header{
    margin-top: 20px;
    margin-bottom: 30px;
}
header nav a{
    color: rgb(59, 91, 230);
    margin-right: 16px;
    text-decoration: none;
}

footer{
    border-top: 1px solid #6d6d6d;
    color: #1b0202;
    margin-top: 16px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 16px 0;
}

.error{
    color: red;
}